::selection {
  background-color: rgb(250, 100, 100);
  color: white;
}
main .heading h1 {
  text-align: center;
  padding: 100px 0 50px 0;
  letter-spacing: 10px;
}
main .heading h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 50px;
  background-color: rgb(150, 150, 150);
}
section .sub-heading {
  font-size: 16px;
  display: flex;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(150, 150, 150);
}

section .sub-heading::after {
  content: "";
  height: 1px;
  background-color: rgb(150, 150, 150);
  width: 100px;
  margin: auto 10px;
}

section .heading {
  font-size: 45px;
  margin: 20px 0 0 0;
}

/* SECTION : ABOUT US */
section.about-us {
  display: block;
  padding: 0;
}
.about-us .image-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 50px 0 50px 0;
}
.about-us img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us__content h2 {
  margin: 40px 0;
}
.about-us__content p {
  color: rgb(120, 120, 120);
  line-height: 25px;
}
/* END OF SECTION : ABOUT US */

/* SECTION : TEAM */
section.team {
  display: block;
  background-color: white;
  padding: 100px 0;
}
.team__title {
  padding: 50px 0 50px 0;
  text-align: center;
}
.team__person {
  text-align: center;
}
.team .image-container {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.team .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__person .name {
  margin: 10px 0 0px 0;
}
.team__person small {
  color: rgb(150, 150, 150);
  font-size: 10pt;
}
.team__person p {
  color: rgb(100, 100, 100);
  margin: 10px 0 0 0;
}
/* END OF SECTION : TEAM */

/* SECTION REVIEW */
section.review {
  /* margin: 0 0 90px 0; */
  padding: 200px 0 150px 0;
  background-color: rgb(250, 250, 250);
}
.review-container {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.review-container .reviewer {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
}
.review-container .reviewer small {
  color: rgb(150, 150, 150);
}
.reviewer .image-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.reviewer .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviewer-info {
  height: fit-content;
  margin: 0 0 0 20px;
}
.reviewer-info h4 {
  margin: 0;
}
.review .card-3 {
  padding: 30px;
  width: 100%;
  min-height: 200px;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
/* END OF SECTION : REVIEW */

#banner-1 {
  display: block;
  background: url(https://preview.colorlib.com/theme/brighthotel/images/xbg_1.jpg.pagespeed.ic.Ffyz_sLm-G.webp);
  width: 100%;
  height: 70vh;
  background-position: center center;
  background-origin: border-box;
  background-size: cover;
  padding: 0;
}
/* SECTION SERVICES */
section.services {
  display: block;
  margin: 100px 0 50px 0;
  background-color: #ffffff;
}

.services .row:not(:last-child) {
  margin: 0 0 100px 0;
}
.services__item {
  display: flex;
  margin-bottom: 80px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.services__item h3,
.services__item p {
  transition: all 0.2s ease-in-out;
}
.services__item:hover h3,
.services__item:hover p {
  color: rgb(250, 100, 100);
}
.services__item img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  margin: 0 20px 0 0;
  filter: contrast(50%);
}
.services__item h3 {
  font-size: 16pt;
}
.services__item p {
  color: rgb(150, 150, 150);
  font-size: 10pt;
}

/* END OF SECTION : SERVICES */

.item-move-up {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s ease-in-out;
}
@media only screen and (max-width: 750px) {
  h2[style="visibility: hidden;"] {
    display: none;
  }
  section.team {
    padding: 40px 0;
  }
  section.review {
    margin: 0 0 30px 0;
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1000px) {
  .review-container {
    flex-wrap: nowrap;
  }
}
